body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  color: #656565;
  font-size: 43px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 5px;
}
ul {
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: rgb(105, 105, 105);
  margin-right: 15px;
  margin-top: -103px;
  padding: 0;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  height: 65px;
  width: 65px;
  margin-top: -13px;
}

.weather-temperature strong {
  color: #656565;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  color: #656565;
  font-size: 15px;
  top: -16px;
}
.weather-temperature .date {
  text-align: right;
}

.weather-forecast {
  margin-top: 80px;
  margin-left: 5px;
  text-align: center;
  color: #656565;
  font-size: 16px;
  font-weight: 400;
}
.weather-forecast-temperature-max {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
  font-size: 14px;
}

.search-form {
  margin-bottom: 20px;
}
